<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Station Walk Kyiv</title>
    <link defer rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin="" />
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles//common.css">
    <link rel="stylesheet" href="styles/modal.css">
</head>
<body>
    <header>
        <nav class="fixed-top">
            <a href="#" data-path="home">Watch routes</a>
            <a href="#" data-path="submit">Submit my route</a>
        </nav>
    </header>
    <main>
        <div id="mapid"></div>
        <div id="sights-container"></div>
        <div id="controller-template-container"></div>
    </main>
</body>
</html>